/* Common */
body {
    background-color: #bebebe;
    font-family: Verdana, Geneva, sans-serif;
    font-size: xx-large;
    margin-right: 0;
}


/* MainView and top bars */
h1 {
    font-size: 70px;
    color:rgb(17, 14, 17)
}

/* Preview Boxes */
.preview_box_container {
    width: 100%;
}
.activity_preview_box_image {
    width: 100%;
    object-fit: cover;
    margin-left: 0;
}
.activity_preview_box_image_container {
    position: relative;
}
.preview_box {
    background-color: white;
    color: black;
    padding-bottom: 2;
    width: 94%;
    padding: 0.3rem;
    padding-left: 1.5rem;
    margin-top: 0;
}
hr{
    position: relative;
    left: 0;
    bottom: 1rem;
}

.activity_preview_box_title, .activity_preview_box_description{
    padding-bottom: 0.75rem;
    color: white;
    position: absolute;
    margin-left: 0.5rem;
}

.activity_preview_box_title{
    bottom: 6rem;
}
.activity_preview_box_description{
    bottom: 0;
    font-size: 1.6rem;
    margin-bottom: 0;
}
.activity_preview_box_area, .activity_preview_box_time{
    color: black;
    font-size: 1.2rem;
}

/* Pop-up Base and Pop-ups' buttons */
.popUpBase {
    background-color: rgb(219, 226, 185);
}

/* Activity pop-ups */

/* Search pop-ups */

/* Create pop-ups */

/* Login & Register pop-ups */

/* Settings pop-ups */

