/* Common */
body {
    background-color: #bebebe;
    font-family: Verdana, Geneva, sans-serif;
    font-size: xx-large;
    margin-right: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}


/* MainView and top bars */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding: 7px 10px;
    display: flex;
    width: 100%;
    background-color: #4A4A4A;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 19px;
    color: whitesmoke;
}

.logo {
    width: 50px;
    height: 50px;
}

.navbar ul {
    flex: 1;
    text-align: right;
}

.navbar ul li {
    display: inline-block;
    margin: 0 25px;
}

.mobile-list {
    display: none;
}
@media only screen and (max-width: 800px) {
    .navbar .desktop-list {
        display: none;
    }
    .mobile-list {
        display: block;
        color: whitesmoke;
        position: fixed;
        top: 5;
        right: 0;
        display: flex;
        align-items: center
        
    }


    .mobile-list {
        font-size: 27px;
        
    }
}
/* Preview Boxes */
.preview_box_container {
    width: 90%;
}
.activity_preview_box_image {
    width: 100%;
    object-fit: cover;
    margin-left: 0;
}
.activity_preview_box_image_container {
    position: relative;
}
.preview_box {
    background-color: white;
    color: black;
    padding-bottom: 2;
    width:100%;
    padding: 0.3rem;
    padding-left: 1.5rem;
    margin-top: 0;
}
hr{
    position: relative;
    left: 0;
    bottom: 1rem;
}

.activity_preview_box_title, .activity_preview_box_description{
    padding-bottom: 0.75rem;
    color: white;
    position: absolute;
    margin-left: 0.5rem;
}

.activity_preview_box_title{
    bottom: 6rem;
}
.activity_preview_box_description{
    bottom: 0;
    font-size: 1.6rem;
    margin-bottom: 0;
}
.activity_preview_box_area, .activity_preview_box_time{
    color: black;
    font-size: 1.2rem;
}

/* Pop-up Base and Pop-ups' buttons */
.popUpBase {
    background-color: rgb(219, 226, 185);
}
#mainTarget{
    width: 100%;
}

/* Activity pop-ups */

/* Search pop-ups */

/* Create pop-ups */

/* Login & Register pop-ups */

/* Settings pop-ups */

