/* Root for color variables, not final */
:root {
    --primary-color: rgb(108, 105, 200);
    --secondary-color: #f7f1a2;
    --thirdary-color: #ff967a;
    --black-color: #343642;
    --white-color: white;
}

/* Common */
body {
    background-color: #bebebe;
    font-family: 'Courier New', Courier, monospace;
    overflow: auto;
}

/* MainView and top bars */
h1 {
    font-size: 70px;
    color:rgb(17, 14, 17)
}

/* Preview Boxes */
.preview_box_container {
    width: 100%;
}
.activity_preview_box_image {
    width: 100%;
    object-fit: cover;
}
.preview_box {
    background-color: white;
    color: black;
    padding-bottom: 2;
}
hr{
    position: absolute;
    left: 0;
    bottom: 0;
}

.activity_preview_box_title, .activity_preview_box_description{
    padding-bottom: 0.75rem;
    color: white;
    position: absolute;
}

.activity_preview_box_title{
    bottom: 0;
    right: 2rem;
}
.activity_preview_box_description{
    bottom: 0;
    right: 2rem;
}

/* Pop-up Base and Pop-ups' buttons 
basics, styling still needed*/
#pop_up_base {
    position: fixed;
    align-self: center;
    top: 0;
    background-color: var(--white-color);
    border: 1px var(--white-color);
    border-radius: 1.5em;
    margin: 1em;
    padding: 1em 2em 1em 2em;
    display: inline-block;
    z-index: 22;
}
#pop_up_closer { /* styling not set */
    border-width: 2px;
    border-color: var(--black-color);
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 50%;
    display: none;
    z-index: 9;
}

/* Activity pop-ups */

/* Search pop-ups */

/* Create pop-ups */

/* Login & Register pop-ups */

/* Settings pop-ups */

